<a href="https://colab.research.google.com/github/santosnto/Aulas-Progamacao/blob/main/La%C3%A7o_FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#CRIAR UMA LISTA COM NUMEROS DE 1 A 15

numeros = []
for num in range(15):
  numeros.append(num)
 

numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
#PARA USAR A BIBLIOTECAR *RANDOM*, É PRECISO IMPORTÁ-LA
import random

#CRIAR UMA LISTA COM TAMANHO ALEATÓRIO (ENTRE 0 E 50)

nums2 = []
for num in range(random.randrange(0,50)):
  nums2.append(num)

nums2

[0]

In [20]:
#(PARENTESIS) DESCOBIR SE UM NÚMERO É PAR OU IMPAR - (% = MOD = RESTO DA DIVISÃO)

a= int(input('Digite um Número!' ))
if a%2 == 0:
  print('É Par')
else:
  print('É Impar')

Digite um Número!108
É Par

In [ ]:
#PRINTAR OS NUMEROS PARES POSITIVOS ATÉ 50


for numero in range(51):
    if numero % 2 == 0:
        print(numero)

In [53]:
#RETORNE A SOMA DOS NUMEROS DE 1 A 100

soma = 0

for n in range(101):
  soma = soma+n

soma

5050

In [48]:
soma = sum(range(101))
print(soma)

5050